# Explore the word dictionary

In [1]:
import os
import numpy as np
import pandas as pd

base_path = ".."
data_path = os.path.join(base_path, "data")

Load the words and add a `freq` field to measure frequency of words -- more useful than pure counts.

In [2]:
data = pd.read_csv(os.path.join(data_path, "unigram_freq.csv"))
data["freq"] = data["count"] / data["count"].sum()
data

           word        count          freq
0           the  23135851162  3.933838e-02
1            of  13151942776  2.236253e-02
2           and  12997637966  2.210016e-02
3            to  12136980858  2.063676e-02
4             a   9081174698  1.544091e-02
...         ...          ...           ...
333328    gooek        12711  2.161278e-08
333329   gooddg        12711  2.161278e-08
333330  gooblle        12711  2.161278e-08
333331   gollgo        12711  2.161278e-08
333332    golgw        12711  2.161278e-08

[333333 rows x 3 columns]

Let's see how many words we have of length 5.

In [3]:
five_word = data[data["word"].str.len() == 5]
five_word

         word       count          freq
35      about  1226734006  2.085842e-03
45      other   978481319  1.663732e-03
56      which   810514085  1.378134e-03
57      their   782849411  1.331095e-03
62      there   701170205  1.192214e-03
...       ...         ...           ...
333307  goovo       12711  2.161278e-08
333308  goova       12711  2.161278e-08
333320  goolh       12711  2.161278e-08
333328  gooek       12711  2.161278e-08
333332  golgw       12711  2.161278e-08

[39933 rows x 3 columns]

Those rare words at the bottom are pure nonsense. Let's find a frequency threshold that leads to reasonable words.

In [4]:
five_word[five_word["freq"] > 1e-3]

     word       count      freq
35  about  1226734006  0.002086
45  other   978481319  0.001664
56  which   810514085  0.001378
57  their   782849411  0.001331
62  there   701170205  0.001192

In [5]:
five_word[five_word["freq"] > 1e-7]

         word       count          freq
35      about  1226734006  2.085842e-03
45      other   978481319  1.663732e-03
56      which   810514085  1.378134e-03
57      their   782849411  1.331095e-03
62      there   701170205  1.192214e-03
...       ...         ...           ...
135370  broer       58833  1.000350e-07
135373  horak       58831  1.000316e-07
135383  charo       58827  1.000248e-07
135385  knive       58824  1.000197e-07
135395  rbocs       58816  1.000061e-07

[15986 rows x 3 columns]

In [6]:
five_word[five_word["freq"] > 1e-4]

       word       count      freq
35    about  1226734006  0.002086
45    other   978481319  0.001664
56    which   810514085  0.001378
57    their   782849411  0.001331
62    there   701170205  0.001192
...     ...         ...       ...
1366  award    59652161  0.000101
1369  peter    59541743  0.000101
1377  extra    59377307  0.000101
1380  pussy    59206591  0.000101
1383  rated    59102029  0.000100

[251 rows x 3 columns]

In [7]:
five_word[five_word["freq"] > 1e-6]

        word       count      freq
35     about  1226734006  0.002086
45     other   978481319  0.001664
56     which   810514085  0.001378
57     their   782849411  0.001331
62     there   701170205  0.001192
...      ...         ...       ...
35873  mauve      589931  0.000001
35892  spore      589081  0.000001
35897  tessa      588993  0.000001
35903  crept      588735  0.000001
35915  dvdrw      588248  0.000001

[4288 rows x 3 columns]

In [8]:
five_word[five_word["freq"] > 1e-5]

       word       count      freq
35    about  1226734006  0.002086
45    other   978481319  0.001664
56    which   810514085  0.001378
57    their   782849411  0.001331
62    there   701170205  0.001192
...     ...         ...       ...
9026  shark     5904454  0.000010
9034  grows     5899321  0.000010
9035  cliff     5898886  0.000010
9037  tract     5897046  0.000010
9050  shine     5881862  0.000010

[1256 rows x 3 columns]

In [9]:
five_word[five_word["freq"] > 0.4e-5]

        word       count      freq
35     about  1226734006  0.002086
45     other   978481319  0.001664
56     which   810514085  0.001378
57     their   782849411  0.001331
62     there   701170205  0.001192
...      ...         ...       ...
15882  tenor     2361385  0.000004
15887  scrub     2360299  0.000004
15892  cello     2358848  0.000004
15904  caves     2355316  0.000004
15911  cocos     2354000  0.000004

[2089 rows x 3 columns]

This last one seems pretty reasonable for 5-letter word. Let's see if it works well-enough for general words, too.

In [10]:
data[data["freq"] > 0.4e-5]

            word        count      freq
0            the  23135851162  0.039338
1             of  13151942776  0.022363
2            and  12997637966  0.022100
3             to  12136980858  0.020637
4              a   9081174698  0.015441
...          ...          ...       ...
15912     aiming      2353915  0.000004
15913    seizure      2353392  0.000004
15914  stuttgart      2353387  0.000004
15915  diplomacy      2352610  0.000004
15916  differing      2352534  0.000004

[15917 rows x 3 columns]

Not bad.

Let's make sure all these words are made up of only letters.

In [11]:
data["word"].str.isalpha().all()

True

How do we select a random word?

In [12]:
data["word"].sample().iloc[0]

'hirohito'

How do we choose a different random number generator?

In [13]:
print(data["word"].sample(random_state=1).iloc[0])
print(data["word"].sample(random_state=1).iloc[0])

brests
brests

In [14]:
data["word"].sample(random_state=np.random.default_rng(1)).iloc[0]

'higa'