# Prepare the dictionary (using CSW + freq. data from Kaggle dataset)

In [1]:
import os
import pandas as pd

base_path = ".."
data_path = os.path.join(base_path, "data")

Use the [Collins Scrabble Words](https://en.wikipedia.org/wiki/Collins_Scrabble_Words) (CSW) 2019 dictionary, but sort by the frequency estimates from the [Google Web Trillion Word Corpus](https://www.kaggle.com/rtatman/english-word-frequency).

In [2]:
kaggle_words = pd.read_csv(os.path.join(data_path, "unigram_freq.csv"))
kaggle_words["freq"] = kaggle_words["count"] / kaggle_words["count"].sum()

csw_words = pd.read_csv(
    os.path.join(data_path, "csw_2019.txt"), skiprows=2, header=None, names=["word"]
)
csw_words.word = csw_words.word.str.lower()

In [3]:
csw_with_freq = csw_words.join(kaggle_words.set_index("word"), on="word", how="left").sort_values("freq", ascending=False).reset_index()

In [4]:
len(csw_with_freq)

279498

In [5]:
csw_with_freq

         index      word         count      freq
0       247021       the  2.313585e+10  0.039338
1       161979        of  1.315194e+10  0.022363
2         7937       and  1.299764e+10  0.022100
3       249823        to  1.213698e+10  0.020637
4       117363        in  8.469405e+09  0.014401
...        ...       ...           ...       ...
279493  279490    zythum           NaN       NaN
279494  279491   zythums           NaN       NaN
279495  279492   zyzzyva           NaN       NaN
279496  279493  zyzzyvas           NaN       NaN
279497  279495      zzzs           NaN       NaN

[279498 rows x 4 columns]

In [6]:
csw_with_freq.to_csv(os.path.join(data_path, "dictionary.csv"))